.personal-info {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f5f5f5;
}

.personal-info-header {
  background-color: #000;
  color: #fff;
  padding: 16px;
  text-align: center;
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.personal-info-header h1 {
  margin: 0;
  font-size: 22px;
  letter-spacing: 2px;
  font-family: 'Open Sans', sans-serif;
}

.personal-info-header h1 .horizon {
  font-family: 'Horizon', sans-serif;
  font-weight: 300;
}

.personal-info-header h1 .bold {
  font-family: 'Open Sans', sans-serif;
  font-weight: 900;
  letter-spacing: 1px;
}

.personal-info-form {
  padding: 20px 0px 20px 0px;
  width: 90%;
  max-width: 500px;
  margin: 0px 5% 0px 5%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.back-button {
  padding: 12px 16px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  transition: background-color 0.3s;
  margin-top: 20px;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
}

.back-button:hover {
  background-color: #444;
}

.personal-info-title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 900;
  font-size: 24px;
  margin-bottom: 40px;
  text-transform: uppercase;
  color: #000;
}

.form-input {
  padding: 15px;
  border: 1px solid #000;
  border-radius: 5px;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  outline: none;
}

.form-input::placeholder {
  color: #000;
}

.form-input:focus {
  border-color: #444;
} 